<li class="{{if @todo.completed 'completed'}} {{if this.isEditing 'editing'}} ">
    <div class="view">
        <input aria-label="Toggle the completion of this todo" class="toggle" type="checkbox" checked={{@todo.completed}} {{on "change" this.toggleItem}} />
        <label {{on "dblclick" this.startEdit}}>{{@todo.title}}</label>
        <button type="button" class="destroy" title="Remove this todo" {{on "click" this.removeItem}}></button>
    </div>

    <input autofocus class="edit" value={{@todo.title}} {{did-insert this.createRef}} {{on "blur" this.finishEdit}} {{on "keydown" this.onKeyDown}} />
</li>